<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sparkify Churn Prediction App</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <div class="login">
        <h1>Predict Churn from XLSX or CSV</h1>
        <form action="{{ url_for('home') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx,.csv" required="required" /><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Upload and Predict</button>
        </form>
        <br>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if success %}
        <p style="color: green;">{{ success }}</p>
        <a href="{{ url_for('download_file', filename='results.csv') }}" class="btn btn-primary btn-block btn-large">Download Results</a>
        {% endif %}
    </div>
</body>
</html>